body{
  background: linear-gradient(to right, #000, #434343);
}
.hero {
  background: linear-gradient(to right, #000, #434343);
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.cloud {
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.3;
  z-index: 0;
}

.cloud1 {
  width: 300px;
  height: 150px;
  top: 50%;
  left: -400px; 
  animation: moveCloud 20s linear infinite;
}

.cloud2 {
  width: 400px;
  height: 200px;
  top: 40%;
  left: -500px; 
  animation: moveCloud 25s linear infinite;
  animation-delay: 5s; 
}

.cloud3 {
  width: 350px;
  height: 180px;
  top: 30%;
  left: -600px; 
  animation: moveCloud 30s linear infinite;
  animation-delay: 10s; 
}

/*animation*/
@keyframes moveCloud {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw); 
  }
}

#data-dilemma {
  padding: 100px 20px;
  background: linear-gradient(to bottom, #111111, #000000); /* dark theme gradient */
  color: white;
  text-align: center;
}


.section-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.section-subtitle {
  font-size: 1.1rem;
  color: #cccccc;
  margin-bottom: 50px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}


.problem-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.problem-card {
  background-color: #1a1a1a;
  border-radius: 20px;
  padding: 30px 20px;
  width: 280px;
  box-shadow: 0 0 10px rgba(207, 15, 71, 0.3);
  transition: transform 0.3s ease;
}

.problem-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(207, 15, 71, 0.6);
}

.problem-card .icon {
  font-size: 2.5rem;
  margin-bottom: 15px;
  display: block;
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
