body{
  background: linear-gradient(to right, #000, #434343);
}
.hero {
  background: linear-gradient(to right, #000, #434343);
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.btn {
  background: #000000;
  color: #FFDEDE;
  padding: 10px 20px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background-color: #CF0F47;  
  box-shadow: 0 0 20px #CF0F47, 0 0 30px #CF0F47, 0 0 40px #CF0F47;
}
